{% extends 'main.html' %}

{% load i18n %}

{% block title %}
    {% translate 'Notifications' %}
{% endblock %}

{% block container %}

<div class="row breadcrumb breadcrumb-pyrty">
    <div class="col">
        <h3>{% translate 'Notifications' %}</h3>
    </div>
</div>

<div class="row breadcrumb breadcrumb-pyrty">
    <div class="col">
        <ul class="list-group">
            {% if page_obj %}
                {% for notification in page_obj %}
                    <li class="list-group-item inline {% if not notification.seen %}unseen{% endif %}">
                        <a href="{% url 'get_notification' notification.pk %}" class="my-1 mx-1">
                            <b>{{ notification.created }}</b> - {{ notification.message }}
                        </a>
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item inline">
                    {% translate "You don't have any notification" %}
                </li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <nav aria-label="Page navigation example" class="mt-3">
            <ul class="pagination">

                <!-- previous -->
                {% if page_obj.has_previous %}
                <li class="page-item ml-auto">
                    <a class="page-link" href="?page=1">&laquo;</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% translate 'Previous' %}</a>
                </li>
                {% else %}
                <li class="page-item ml-auto">
                    <a class="page-link" href="#" disabled="">&laquo;</a>
                </li>
                {% endif %}

                <li class="page-item active">
                    <a class="page-link" disabled="">{{ page_obj.number }}</a>
                </li>

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">{% translate 'Next' %}</a>
                </li>
                <li class="page-item mr-auto">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item mr-auto">
                    <a class="page-link" href="#" disabled="">&raquo;</a>
                </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</div>

{% endblock %}
