{% extends 'main.html' %}

{% block content %}

<h2 class="mt-3"><a href="{% url 'profile' object.user %}" style="color:#ffd343;">@{{ object.user }}</a>: {{ object.title }}</h2>

{{ object.content }}


<div class="breadcrumb my-5">
	<ul class="list-group">
	{% for comment in comments %}
		<li class="list-group-item my-3">
			<div class="form-inline">
				<div class="text-left">
					<a href="{% url 'profile' comment.user %}" style="color:#ffd343;">@{{ comment.user }}</a>:
				</div>
				<div class="ml-auto">
					{{ comment.created }}
					{% if comment.user == request.user %}
					<button id="delete_comment_{{ comment.id }}" class="btn btn-danger delete_comment" type="button"><i class="fas fa-trash"></i></button><!--TODO-->
					{% endif %}
				</div>
			</div>
			<p>{{ comment.content }}<p>
		</li>
	{% endfor %}
	</ul>
</div>


{% if user.is_authenticated %}
<form class="breadcrumb my-3" method="POST" enctype="application/x-www-form-urlencoded" action="{% url 'create_comment' %}">
	{% csrf_token %}
	<div class="row col-12 mt-3">
		<h2 class="col-10">Leave a comment:</h2><button class="btn btn-info col-2">Post Comment</button>
	</div>
	<div class="row col-12 mt-3">
		{% for field in comment_form %}
			{{ field }}
		{% endfor %}
	</div>
</form>
<span style="display:none;" id="delete_comment" class="{% url 'delete_comment' %}"></span>
{% else %}
<div class="breadcrumb my-3">
	<div class="row col-12 mt-3">
		<h2 class="col-10">Leave a comment:</h2><a class="btn btn-outline-info col-2 my-auto" href="{% url 'signup' %}">Sign up</a>
	</div>
	<div class="row col-12 mt-3">
		<h3><a href="#" style="color:#ffd343;" id="focus_login">Log in</a> or <a href="{% url 'signup' %}" style="color:#ffd343;">sign up</a> to leave a comment.</h3>
	</div>
</div>
{% endif %}

{% endblock %}