{% extends 'main.html' %}

{% load i18n %}

{% block container %}

<form class="row breadcrumb breadcrumb-pyrty" method="POST" enctype="application/x-www-form-urlencoded" action="{% url 'create_post' subforum.id %}">
    {% csrf_token %}
    <div class="col-12 mt-1">
        {{ form }}
    </div>
    <div class="col-12 mb-1">
        <div class="text-right">
            <button class="btn btn-primary btn-block my-2">{% translate 'Post' %}</button>
        </div>
    </div>
</form>

{% endblock %}