{% extends 'main.html' %}

{% load i18n %}

{% block title %}
    {{ current_subforum }} {% translate 'Posts' %}
{% endblock %}

{% block container %}
    <div class="row breadcrumb breadcrumb-pyrty">
        <div class="col-9">
            <h2 class="my-3">{{ current_subforum }} {% translate 'Posts' %}</h2>
        </div>
        <div class="col-3 text-right my-auto">
            <form class="ml-auto" method="GET" action="{% url 'create_post' current_subforum.id %}">
                <button class="btn btn-primary">{% translate 'New Post' %}</button>
            </form>
        </div>
        {% for post in object_list %}
            <a class="col-12 alert alert-pyrty" href="{% url 'post' post.id %}">
                <h3>{{ post }}</h3>
            </a>
        {% endfor %}
    </div>
{% endblock %}