{% extends 'main.html' %}

{% block content %}

<div class="row col-12 mb-3">
	<h2>{{ current_subforum }} Posts</h2> 
	<form class="ml-auto" method="GET" action="{% url 'create_post' current_subforum.id %}">
		<button class="btn btn-info">New Post</button>
	</form>
</div>
<ul class="list-group">
{% for post in object_list %}
	<li class="list-group-item inline">
		<a href="{% url 'post' post.id %}" style="color: white;"><h3>{{ post }}</h3></a>
		by <a href="{% url 'profile' post.user %}">@{{ post.user }}</a>
	</li>	
{% endfor %}
</ul>

{% endblock %}