{% extends 'main.html' %}

{% block content %}

<div class="row col-12 mb-3">
	<h2>{{ current_subforum }} Posts</h2> 
	<form class="ml-auto" method="GET" action="{% url 'create_post' current_subforum.id %}">
		<button class="btn btn-info">New Post</button>
	</form>
</div>
<ul class="list-group">
{% for post in object_list %}
	<li class="list-group-item inline">
		<div class="row">
			<div class="col-10 my-auto">
				<div class="row">
					<div class="col-12">
						<a href="{% url 'post' post.id %}" style="color: white;"><h3>{{ post }}</h3></a>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<b>by <a href="{% url 'profile' post.user %}">@{{ post.user }}</a>, {{ post.created }}</b>
					</div>
				</div>
			</div>
			<div class="col-2 my-auto">
				<div class="row">
					<div class="col-12">
						Score: {{ post.score }}
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						Comments: {{ post.comments }}
					</div>
				</div>
			</div>
		</div>
	</li>	
{% endfor %}
</ul>

{% endblock %}