{% extends 'main.html' %}

{% load i18n %}

{% block title %}
    {{ current_forum }} {% translate 'Subforums' %}
{% endblock %}

{% block container %}
    <div class="row breadcrumb breadcrumb-pyrty">
        <div class="col-12">
            <h2 class="my-3">{{ current_forum }} {% translate 'Subforums' %}</h2>
        </div>
        {% for subforum in object_list %}
        <a class="col-12 alert alert-pyrty" href="{% url 'subforum' subforum.url_name %}">
            <h3>{{ subforum }}</h3>
        </a>
        {% endfor %}
    </div>
{% endblock %}