{% extends 'main.html' %}

{% load i18n %}

{% block content %}

<h3 class="p-2 mb-4 rounded text-white" style="background-color:#2b5b84;">
    {% translate 'Inbox' %}
</h3>

<div class="row">
	<!-- Different chats list -->
	<div class="col-4">
		{% for user in inbox %}
			{% if user.username != request.user.username %}
				{% if user.username == current_inbox %}
				<div class="breadcrumb" style="background-color:#ffc107;">
					<h3>
						<a href="{% url 'private_message' user %}" style="color:black;">{{ user }}</a>
					</h3>
				</div>
				{% else %}
				<div class="breadcrumb">
					<h3>
						<a href="{% url 'private_message' user %}" style="color:white;">{{ user }}</a>
					</h3>
				</div>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
	<div class="col-8">
		<!-- Current inbox chat -->
		<div class="row pr-3">
			<div class="breadcrumb">
				{% for object in object_list %}
				<div class="col-8">
					<a href="{% url 'profile' object.origin_user %}" style="{% if object.origin_user == request.user %}color:white;{% else %} color:#ffc107; {% endif %}">
						<b>@{{ object.origin_user }}:</b>
					</a>
				</div>
				<div class="col-4">
					{{ object.created }}
				</div>
				<div class="col-12">
					<p>{{ object.message }}</p>
				</div>
				{% endfor %}
			</div>
		</div>
		<!-- New message panel -->
		<form class="row" id="new_private_message" method="POST" enctype="application/x-www-form-urlencoded" action="{% url 'create_private_message' %}">{% csrf_token %}
			<div class="row col-11">
				{% for field in private_message_form %}
					{{ field }}
				{% endfor %}
			</div>
			<div class="row col-1">
				<button class="btn btn-warning ml-2">
					<i class="fas fa-paper-plane fa-2x"></i>
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}