{% load i18n %}

<div class="row">
    <!-- display profile's last 10 posts -->
    <div class="col-12 mt-3 mt-md-0">
        <h3>{% translate 'User last posts' %}:</h3>
    </div>
    <div class="col-12">
        <ul class="list-group">
            {% for post in profile_posts %}
                <li class="list-group-item inline">
                    <b><a style="color:yellow;" href="{% url 'post' post.pk %}">{{ post }}</a></b> on <a style="color:yellow;" href="{% url 'forum' post.subforum.forum %}">{{ post.subforum.forum }}</a> > <a style="color:yellow;" href="{% url 'subforum' post.subforum %}">{{ post.subforum }}</a>
                </li>    
            {% endfor %}
        </ul>
    </div>
    {% if not profile_posts %}
        <span class="col-12">{% translate 'You have not posted anything yet.' %}</span>
    {% endif %}
    <hr/>
    <!-- display profile's last 10 comments -->
    <div class="col-12 mt-3">
        <h3>{% translate 'User last comments' %}:</h3>
    </div>
    <div class="col-12">
        <ul class="list-group">
            {% for comment in profile_comments %}
                <li class="list-group-item inline">
                    <b>{{ comment }}</b> on <a style="color:yellow;" href="{% url 'post' comment.post.pk %}">{{ comment.post }}</a> - {{ comment.created }}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% if not profile_comments %}
        <span class="col-12">{% translate 'You have not commented on any post yet.' %}</span>
    {% endif %}
</div>