{% load i18n %}

<!-- new message modal -->
<div id="modal_new_message" style="color:black;" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<form id="new_private_message" class="modal-content" method="POST" enctype="application/x-www-form-urlencoded" action="{% url 'create_private_message' %}">{% csrf_token %}
			<div class="modal-header">
				{% translate 'New Private Message' %}
			</div>
			<div class="modal-body">
				<p>{% translate 'To' %}: @{{ object.user }}</p>
				<p>{% translate 'Message' %}:</p>
				{% for field in private_message_form %}
				    {{ field }}
				{% endfor %}
			</div>
			<div class="modal-footer">
				<button class="btn btn-info">{% translate 'Send' %}</button>
			</div>
		</div>
	</div>
</div>