html, body {
    background-color: #2b5b84;
}

a.alert.alert-pyrty:hover {
    background-color: #ffd343;
    color: #1e2933;
}

a.navbar-brand {
    color: white;
}

a.navbar-brand:hover {
    color: #ffd343;
}

.alert-pyrty {
    background-color: #2b5b84;
}

.breadcrumb.breadcrumb-messages {
    color: #1e2933;
}

.breadcrumb-pyrty {
    background-color: #1e2933;
    color: white;
}

.breadcrumb-pyrty a {
    color: white;
}

.breadcrumb-pyrty a:hover {
    color: #ffd343;
}

.breadcrumb.breadcrumb-pyrty-inbox {
    background-color: #2b5b84;
    color: white;
}

.breadcrumb.breadcrumb-pyrty-inbox.current {
    background-color: #ffd343;
    color: #2b5b84;
}

.django-quill-widget-container {
    color: black;
    background-color: white;
}

.dropdown-item.unseen {
    background-color: #ffd343;
}

.field_errors {
    color: #ffd343;
}

.h-divider{
    margin-top:5px;
    margin-bottom:5px;
    height:1px;
    width:100%;
    border-top:1px solid #ffd343;
}

#landing_page_header {
    border-bottom: solid 2px #ffd343;
}

li.list-group-item.inline {
    background-color: #2b5b84;
}

li.list-group-item.inline.unseen {
    background-color: #ffd343;
    color: #1e2933;
}

li.list-group-item.inline.unseen a {
    color: #1e2933;
}

.navbar-pyrty {
    background-color: #1e2933;
    border-bottom: solid 2px #ffd343;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#pyrty_iso {
    height: 40px;
    width: 40px;
}

ul.list-group {
    background-color: #2b5b84;
}
