{% for user in inbox %}
    {% if user.username != request.user.username %}
        {% if user.username == current_inbox %}
            <a href="{% url 'private_message' user %}" class="breadcrumb breadcrumb-pyrty-inbox current">
                <h3>{{ user }}</h3>
            </a>
        {% else %}
            <a href="{% url 'private_message' user %}" class="breadcrumb breadcrumb breadcrumb-pyrty-inbox">
                <h3>{{ user }}</h3>
            </a>
        {% endif %}
    {% endif %}
{% endfor %}