{% load i18n %}

<div class="row">
    <div class="col-12 my-1 my-md-auto text-md-right">
        <a class="mx-1 my-auto" href="{% url 'profile' request.user %}"><b style="color:white;">@{{ request.user }}</b></a>
    </div>
    <!-- Messages dropdown -->
    <div class="col-3">
        <div class="nav-item">
            <div class="dropdown mx-1">
                <button type="button" class="btn {% if request.non_read_msgs %}btn-warning{% else %}btn-primary{% endif %} btn-block dropdown-toggle" id="dropdown-messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-envelope"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-messages">
                    {% if request.messages %}
                        {% for message in request.messages %}
                            <a href="{% url 'private_message' message.origin_user %}" class="dropdown-item my-1 px-1 {% if not message.seen %}unseen{% endif %}">
                                {{ message.created }} | {% translate 'Message from'%} {{ message.origin_user }}
                            </a>
                        {% endfor %}
                    {% else %}
                        <div class="text-center mt-2">
                        {% translate "You don't have any message." %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Notifications dropdown-->
    <div class="col-3">
        <div class="dropdown mx-1">
            <button type="button" class="btn {% if request.non_seen_notifs %}btn-warning{% else %}btn-primary{% endif %} btn-block dropdown-toggle" id="dropdown-notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-notifications">
                {% if request.notifications %}
                    {% for notification in request.notifications %}
                        <a href="{% url 'get_notification' notification.pk %}" class="dropdown-item my-1 px-1 {% if not notification.seen %}unseen{% endif %}">
                            {{ notification.created }} | {% translate notification.message %}
                        </a>
                    {% endfor %}
                    <div class="text-center mt-2">
                        <a href="{% url 'notifications' %}" class="btn btn-primary">
                            {% translate 'View all' %}
                        </a>
                    </div>
                {% else %}
                    <div class="text-center mt-2">
                        {% translate "You don't have any notification." %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-3">
        <form action="{% url 'logout' %}" method="GET" enctype="application/x-www-form-urlencoded">
            <button class="btn btn-outline-primary mx-1 btn-block"><i class="fas fa-door-open"></i></button>
        </form>
    </div>
    <div class="col-3">
        <form action="{% url 'set_language' %}" method="POST" enctype="application/x-www-form-urlencoded">{% csrf_token %}
            <input id="id_language" name="language" value="{% if request.LANGUAGE_CODE == 'es' %}en{% else %}es{% endif %}" type="hidden">
            <button type="submit" class="btn btn-outline-primary btn-block mx-1"><i class="fas fa-language"></i></button>
        </form>
    </div>
</div>