<!doctype html>
{% load static %}
{% load i18n %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <title>Pyrty | {% block title %}{% endblock%}</title>
    </head>
    <body>
        {% include 'main/navbar.html' %}
        <div class="container my-5">
            {% include 'main/navigation.html' %}
            <div class="row">
                <div class="col">
                    {% block container %}{% endblock %}
                </div>
            </div>
        </div>
        {% include 'main/scripts.html' %}
    </body>
</html>