{% load static %}

{% load i18n %}

<nav id="landing_page_header" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

    <a class="navbar-brand ml-3" href="{% url 'forums' %}"><img src="{% static 'python.png' %}" style="height:40px;width:40px;"> Pyrty</a>
    
    <button id="mobile_header_toggler" class="navbar-toggler btn btn-primary mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if user.is_authenticated %}
            <span style="display:none;" id="update_notifications" class="{% url 'update_notifications' %}"></span>
            
            <div class="container">
                
                <!-- Messages dropdown -->
                <div class="form-inline">
                    <div class="dropdown mx-1">
                        <button type="button" class="btn {% if request.non_read_msgs %}btn-warning{% else %}btn-info{% endif %} dropdown-toggle" id="dropdown-messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-envelope"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdown-messages" style="background-color:#1e2933;">
                            <ul class="list-group" style="font-size:13px;">
                                {% for message in request.messages %}
                                <a href="{% url 'private_message' message.origin_user %}" class="list-group-item my-1 mx-1" style="{% if not message.seen %} background-color:#ffc107; color:black; {% else %}color:white; {% endif %}">
                                Message from {{ message.origin_user }}
                                </a>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    
                    <!-- Notifications dropdown -->
                    <div class="dropdown mx-1">
                        <button type="button" class="btn {% if request.non_seen_notifs %}btn-warning{% else %}btn-info{% endif %} dropdown-toggle" id="dropdown-notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></button>
                        <div class="dropdown-menu" aria-labelledby="dropdown-notifications" style="background-color:#1e2933;">
                            <ul class="list-group" style="font-size:13px;">
                                {% for notification in request.notifications %}
                                <a href="{{ notification.url }}" class="list-group-item my-1 mx-1" style="color:white; {% if not notification.seen %} background-color:#ffc107; {% endif %}">
                                    {{ notification.message }}
                                </a>
                                {% endfor %}
                            </ul>
                            <div class="text-center">
                                <a href="{% url 'notifications' %}" class="btn btn-info">
                                    {% translate 'View all' %}
                                </a>
                            </div>
                        </div>
                    </div>


                    <a class="mx-1" href="{% url 'profile' request.user %}"><b style="color:white;">@{{ request.user }}</b></a>
                    <form action="{% url 'logout' %}" method="GET" enctype="application/x-www-form-urlencoded">
                        <button class="btn btn-outline-info mx-1"><i class="fas fa-door-open"></i></button>
                    </form>
                    <form action="{% url 'set_language' %}" method="POST" enctype="application/x-www-form-urlencoded">{% csrf_token %}
                        <input id="id_language" name="language" value="es" type="hidden">
                        <button type="submit" class="btn btn-outline-info mx-1"><i class="fas fa-language"></i></button>
                    </form>
                </div>
            </div>

        {% else %}
            
            <ul class="container fluid ml-0 ml-md-auto">
                <form class="row ml-0 ml-md-auto" action="{% url 'login' %}" method="POST" enctype="application/x-www-form-urlencoded">{% csrf_token %}
                    {% for field in request.login_form %}
                        <li class="col-12 col-md-4 nav-item input-group px-1 py-1 py-md-0">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="{{ field.field.icon }}"></i></div>
                            </div>
                            {{ field }}
                        </li>
                    {% endfor %}
                    <li class="col-6 col-md-2 nav-item px-1 py-1 py-md-0">
                        <button class="btn btn-outline-info btn-block"><i class="fas fa-rocket"></i></button>
                    </li>
                    <li class="col-6 col-md-2 nav-item px-1 py-1 py-md-0">
                        <a href="{% url 'signup' %}" class="btn btn-outline-info btn-block" style="color:white">{% translate 'Sign up' %}</a>
                    </li>
                </form>
            </ul>
        {% endif %}
    </div>

</nav>