{% load static %}

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-1">

    <a class="navbar-brand ml-3" href="{% url 'forums' %}"><img src="{% static 'python.png' %}" style="height:40px;width:40px;"> Pyrty</a>
    
    {% if user.is_authenticated %}
    <span style="display:none;" id="update_notifications" class="{% url 'update_notifications' %}"></span>
    
    <form class="sm-inline-block d-inline-block d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"
        action="{% url 'logout' %}" method="GET" enctype="application/x-www-form-urlencoded">
        
        <!-- Messages dropdown -->
        <div class="form-inline">
            <div class="dropdown mx-1">
                <button type="button" class="btn {% if request.non_read_msgs %}btn-warning{% else %}btn-info{% endif %} dropdown-toggle" id="dropdown-messages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-envelope"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdown-messages" style="background-color:#1e2933;">
                    <ul class="list-group">
                        {% for message in request.messages %}
                        <a href="{% url 'private_message' message.origin_user %}" class="list-group-item my-1 mx-1" style="{% if not message.seen %} background-color:#ffc107; color:black; {% else %}color:white; {% endif %}">
                        Message from {{ message.origin_user }}
                        </a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
            <!-- Notifications dropdown -->
            <div class="dropdown mx-1">
                <button type="button" class="btn {% if request.non_seen_notifs %}btn-warning{% else %}btn-info{% endif %} dropdown-toggle" id="dropdown-notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bell"></i></button>
                <div class="dropdown-menu" aria-labelledby="dropdown-notifications" style="background-color:#1e2933;">
                    <ul class="list-group" style="font-size:13px;">
                        {% for notification in request.notifications %}
                        <a href="{{ notification.url }}" class="list-group-item my-1 mx-1" style="color:white; {% if not notification.seen %} background-color:#ffc107; {% endif %}">
                            {{ notification.message }}
                        </a>
                        {% endfor %}
                    </ul>
                    <div class="text-center">
                        <a href="{% url 'notifications' 1 %}" class="btn btn-info">
                            View all
                        </a>
                    </div>
                </div>
            </div>


            <a class="mx-1" href="{% url 'profile' request.user %}"><b style="color:white;">@{{ request.user }}</b></a>
            <button class="btn btn-outline-info mx-1"><i class="fas fa-door-open"></i></button>
        </div>
    </form>

    {% else %}

    <form class="sm-inline-block d-inline-block d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0"
        action="{% url 'login' %}" method="POST" enctype="application/x-www-form-urlencoded">{% csrf_token %}
        <div class="form-inline">
            {{ request.login_form.errors }}
            {% for field in request.login_form %}
                <span class="px-1">{{ field }}</span>
            {% endfor %}
            <button class="btn btn-outline-info mx-1"><i class="fas fa-rocket"></i></button>
            <a href="{% url 'signup' %}" class="btn btn-outline-info mx-1" style="color:white">Sign up</a>
        </div>
    </form>
    {% endif %}

</header>