{% extends 'main.html' %}

{% block content %}

<div class="breadcrumb">
    <div class="row px-4 col-12">
        <form class="form-group col-6" method="POST" action="{% url 'self_profile' object.slug %}" enctype="application/x-www-form-urlencoded">{% csrf_token %}
            <div class="form-inline">
                <h2><b>User:</b> @{{ object.user }}</h2>
                <button type="button" id="btn_edit_profile" class="btn btn-warning ml-3 mb-2">
                    <i class="fa fa-pencil"></i>
                </button>
                <button type="button" id="btn_cancel_edit_profile" class="btn btn-danger ml-3 mb-2" style="display:none;">
                    <i class="fa fa-window-close"></i>
                </button>
                <button id="btn_confirm_edit_profile" class="btn btn-success ml-3 mb-2" style="display:none;">
                    <i class="fa fa-check"></i>
                </button>
            </div>
            {{ form }}
        </form>

        <div class="col-6">

            <!-- display profile's last 10 posts -->
            <h3 class="col-12">Your last posts:</h3>
            <ul class="list-group">
                {% for post in profile_posts %}
                <span class="col-12">
                    <li class="list-group-item inline">
                        <b><a style="color:yellow;" href="{% url 'post' post.pk %}">{{ post }}</a></b> on <a style="color:yellow;" href="{% url 'forum' post.subforum.forum %}">{{ post.subforum.forum }}</a> > <a style="color:yellow;" href="{% url 'subforum' post.subforum %}">{{ post.subforum }}</a>
                </span>
                {% endfor %}
            </ul>
            {% if not profile_posts %}
            <span class="col-12">You have not posted anything yet.</span>
            {% endif %}
            <hr/>
            <!-- display profile's last 10 comments -->
            <h3 class="col-12">Your last comments:</h3>
            <ul class="list-group">
                {% for comment in profile_comments %}
                <span class="col-12">
                    <li class="list-group-item inline">
                        <b>{{ comment }}</b> on <a style="color:yellow;" href="{% url 'post' comment.post.pk %}">{{ comment.post }}</a> - {{ comment.created }}
                    </li>
                </span>
                {% endfor %}
            </ul>
            {% if not profile_comments %}
            <span class="col-12">You have not commented on any post yet.</span>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}