{% load i18n %}

{% for comment in comments %}
    <div class="row mt-3 breadcrumb breadcrumb-pyrty">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col-12">
                            Comment by <a href="{% url 'profile' comment.user %}">@{{ comment.user }}</a>
                        </div>
                        <div class="col-12">
                            {% translate 'Rank' %} {{ comment.user.profile.get_rank }} - {% translate 'Score' %} {{ comment.user.profile.reputation }}
                        </div>
                    </div>
                </div>
                <div class="d-none d-md-block col-md-3">
                    <div class="text-right">
                        <small>{{ comment.created }}</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-md-none text-center">
                    {% include 'posts/postdetail/comment_vote_panel.html' %}
                </div>
                <div class="col-12 col-md-9 mt-md-3">
                    {{ object.content }}
                </div>
                <div class="d-none d-md-block col-md-3 text-center">
                    {% include 'posts/postdetail/comment_vote_panel.html' %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}