{% extends 'main.html' %}

{% load i18n %}

{% block title %}
    {% translate 'Forums' %}
{% endblock %}

{% block container %}
    <div class="row breadcrumb breadcrumb-pyrty">
        <div class="col-12">
            <h2 class="my-3">{% translate 'Main Forums' %}</h2>
        </div>
        {% for forum in object_list %}
            <a class="col-12 alert alert-pyrty" href="{% url 'forum' forum.url_name %}">
                <h3>{{ forum }}</h3>
            </a>
        {% endfor %}
    </div>
{% endblock %}